@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: AEmb, Helvetica, Arial, sans-serif;
    font-family: 'fredoka';

}

#read {
    display: none;
}

body {
    background-color: rgb(214, 212, 212);
    font-family: bold;
    margin: 0;
    padding: 0;
}

#nav li {
    list-style-type: none;
}

#nav ul {
    display: flex;
    font-size: 40px;
    background-color: rgb(0, 0, 0);
    height: 100px;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    box-shadow: 10px 10px 10px rgb(11, 11, 11);
}

#library {
    margin-left: 20vw;
    margin-top: 20px;
}

#login {
    margin: 40px;
    margin-top: 20px;
    margin-left: 40vw;
    height: 50px;
    width: 100px;
    border-radius: 4px;
    background-color: rgb(150, 150, 150);
    color: black;

}

#login:hover {
    background-color: rgb(200, 200, 200);
    color: rgb(17, 17, 17);

}

#add {
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-top: 70px;
    margin-left: 650px;
    height: 60px;
    width: 200px;
    border-radius: 7px;
    position: relative;

}

#add:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    box-shadow: 20px 20px 20px rgb(0, 0, 0);
}

#form {
    background-color: #ff0101;
    height: 350px;
    width: 250px;
    margin-left: 630px;
    margin-top: 70px;
    box-shadow: 10px 10px 10px rgb(205, 36, 36);
    position: fixed;
    z-index: 1;
    border-radius: 10px;
}

#title {
    height: 35px;
    width: 190px;
    margin-left: 30px;
    border: none;
    border-radius: 10px;
}

#author {
    height: 35px;
    width: 190px;
    margin-left: 30px;
    border: none;
    border-radius: 10px;

}

#page {
    height: 35px;
    width: 190px;
    margin-left: 30px;
    border: white;
    border-radius: 10px;


}

input::placeholder {
    font-size: 20px;
}

.book {
    font-size: 30px;
    margin-left: 30px;
    color: white;
}

#check {
    font-size: 25px;
    margin-left: 20px;
    color: white;

}

#button {
    font-size: 25px;
    margin-left: 35px;
    width: 190px;
    border-radius: 10px;
    height: 35px;
    border: none;
    background-color: rgb(177, 66, 66);
    color: white;
}

#button:hover {
    background-color: rgb(0, 255, 0);
    color: white;
}

#check input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

input[type="text"] {
    font-size: 25px;
}


#black {
    position: absolute;
    height: 720px;
    width: 1510px;
    display: block;
    background-color: rgba(0, 0, 0, 0.416);
    z-index: 1;
}


#readBtn {
    font-size: 20px;
    border: none;
    width: 190px;
    height: 35px;
    border-radius: 10px;
    background-color: aquamarine;
    margin-top: 10px;
    color: rgb(0, 0, 0);
}

#remove {
    font-size: 20px;
    border: none;
    width: 190px;
    height: 35px;
    border-radius: 10px;
    background-color: aquamarine;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}

.book-item {
    position: relative;
}

.book-item {
    /* font-size: 20px; */
    height: 250px;
    width: 250px;
    text-align: center;
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 10px;
    position: fixed;
    bottom: 233px;
    /* margin-left: 300px; */
    z-index: 0;
}

@media only screen and (max-width:1000px) and (min-width:100px) {
    #nav ul {
        width: 1000px;
    }

    #login {
        margin-left: 600px;
    }

    #add {
        margin-left: 400px;
    }

    #black {
        width: 1000px;
        /* height: 210vh;
        position: absolute;
        display: block;
        background-color: rgba(0, 0, 0, 0.416);
        z-index: 1; */
    }

    #form {
        margin-left: 400px;
    }
}

@media only screen and (max-width:1000px) and (min-width:800px) {
    #black {
        width: 1000px;
        height: 130vh;
        position: absolute;
        display: block;
        background-color: rgba(0, 0, 0, 0.416);
        z-index: 1;
    }
    .book-item{
        margin-bottom:20vh;
    }
}
@media only screen and (max-width:800px) and (min-width:600px) {
    #black {
        width: 1000px;
        height: 160vh;
        position: absolute;
        display: block;
        background-color: rgba(0, 0, 0, 0.416);
        z-index: 1;
    }
    .book-item{
        margin-bottom:50vh;
    }
}
@media only screen and (max-width:600px) and (min-width:500px) {
    #black {
        width: 1000px;
        height: 200vh;
        position: absolute;
        display: block;
        background-color: rgba(0, 0, 0, 0.416);
        z-index: 1;
    }
    .book-item{
        margin-bottom:80vh;
    }
}
@media only screen and (max-width:500px) and (min-width:200px) {
    #black {
        width: 1000px;
        height: 270vh;
        position: absolute;
        display: block;
        background-color: rgba(0, 0, 0, 0.416);
        z-index: 1;
    }
    
}
@media only screen and (max-width:500px) and (min-width:400px) {
    .book-item{
        margin-bottom:90vh;
    }
    
}
@media only screen and (max-width:400px) and (min-width:300px) {
    .book-item{
        margin-bottom:150vh;
    }
    
}
@media only screen and (max-width:300px) and (min-width:200px) {
    .book-item{
        margin-bottom:220vh;
    }
    
}